VITE_SUPABASE_URL=https://gbhcclcgkzatoznslshv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdiaGNjbGNna3phdG96bnNsc2h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA1MTIxMDYsImV4cCI6MjA2NjA4ODEwNn0.oIFsvw0eepL8xRBO7aUv2LP5-C9qiQOaD5u6K3PSCLI
        